

/= link_to "fileupload://new?callbackURL=http://10.0.1.26&referrername=Picup%20Scratchpad&referrerfavicon=http%3A//picupapp.com/favicon.ico&purpose=Select%20a%20sample%20image%20for%20the%20Picup%20Scratchpad%20tool.&debug=true" do
/  %h1 Upload

/= link_to "fileupload://new?callbackURL=http://picupapp.com/done.html&referrername=Picup%20Scratchpad&referrerfavicon=http%3A//picupapp.com/favicon.ico&purpose=Select%20a%20sample%20image%20for%20the%20Picup%20Scratchpad%20tool.&debug=true" do
/  %h1 Upload

/= link_to "fileupload://new?callbackURL=http://10.0.1.26:3000/uploaded&referrername=Happy%20Camper&referrerfavicon=http%3A//10.0.1.26%233000/favicon.ico&purpose=Select%20an%20image%20for%20Happy%20Camper&debug=false&posturl=http%3A//10.0.1.26%233000/upload&postvalues=user_id%3DID" do
/  %h1 Upload

= link_to "fileupload://new?callbackURL=http%3A//codesodaair.local/uploaded&referrername=Happy%20Camper&referrerfavicon=http%3A//codesodaair.local/favicon.ico&purpose=Select%20an%20image%20for%20Happy%20Camper&debug=false&posturl=http%3A//codesodaair.local/upload&postvalues=user_id%3DID" do
  %h1 Upload 
